.wraper{
    text-align: center;
}

table { 
    width: 60%;
    margin-left:20%; 
    margin-right:20%;
    margin-bottom:20px;
    border: 4px black; 
    border-collapse: collapse;
     
   }
   th { 
    text-align: left; 
    background: ghostwhite;
    /*padding: 5px;  Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td { 
    /*padding: 5px;  Поля вокруг содержимого ячеек */
    background: ghostwhite;
    border: 1px solid black; /* Граница вокруг ячеек */
   }